body {
    font-family: "Roboto Light", sans-serif;
    font-size: 15px;
}
.parent{
    display: block;
    overflow: hidden;
}
.child {
  /*  border: 1px solid #eee;*/
    padding: 10px;
    float: left;
    width: 600px;
    margin-right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.child:last-child {
    margin-right: 0;
}

.table {
    width: 550px;
    /*border: 1px solid #eeeeee;*/

}
tr{
    height: 36px;
}

td {
    padding: 5px;
    /*border: 1px solid #eee;*/
}

.num {
    width: 25px;
}

.buttons {
    width: 180px;
}

a {
    font-size: 12px;
    color: white;
    margin-right: 10px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:last-child {
    margin-right: 0;
}

.up {
    color: dodgerblue;
    border: 1px solid dodgerblue;

}

.del {
    color: #cf2d2d;
    border: 1px solid #cf2d2d;
}

.done {
    background-color: #6cb55f;
}
.green{
    color: #6cb55f;
    /*font-family: "Roboto", sans-serif;*/
}
.add_form{
    display: block;
}

input{
    margin-left: 20px;
    margin-right: 5px;
    width: 400px;
    color: black;
    border: 1px solid black;
    font-size: 12px;
    font-family: "Roboto Light", sans-serif;
    padding: 5px 8px;
    text-decoration: none;
    background-color: white;
}

button{
    color: dodgerblue;
    background-color: white;
    border: 1px solid dodgerblue;
    font-size: 12px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}